[DEFAULT]
analysis = /path/to/analysis
data = /path/to/sorted
raw = /path/to/raw
h5 = /path/to/h5
meta = /path/to/meta
tags = /path/to/tags
query = /path/to/query/analysis
user = your_username

[SECONDARY]
analysis = /path/to/secondary/analysis
data = /path/to/secondary/sorted
raw = /path/to/secondary/raw
h5 = /path/to/secondary/h5
meta = /path/to/secondary/meta
tags = /path/to/secondary/tags
query = /path/to/secondary/query/analysis
user = your_username

[LINUX_DEFAULT]
analysis = /path/to/linux/analysis
data = /path/to/linux/sorted
raw = /path/to/linux/raw
h5 = /path/to/linux/h5
meta = /path/to/linux/meta
tags = /path/to/linux/tags
query = /path/to/linux/query/analysis
user = your_username

[LINUX_SECONDARY]
analysis = /path/to/linux/secondary/analysis
data = /path/to/linux/secondary/sorted
raw = /path/to/linux/secondary/raw
h5 = /path/to/linux/secondary/h5
meta = /path/to/linux/secondary/meta
tags = /path/to/linux/secondary/tags
query = /path/to/linux/secondary/query/analysis
user = your_username

[WINDOWS_DEFAULT]
analysis = C:/path/to/analysis
data = C:/path/to/sorted
raw = C:/path/to/raw
h5 = C:/path/to/h5
meta = C:/path/to/meta
tags = C:/path/to/tags
query = C:/path/to/query/analysis
user = your_username

[WINDOWS_SECONDARY]
analysis = C:/path/to/secondary/analysis
data = C:/path/to/secondary/sorted
raw = C:/path/to/secondary/raw
h5 = C:/path/to/secondary/h5
meta = C:/path/to/secondary/meta
tags = C:/path/to/secondary/tags
query = C:/path/to/secondary/query/analysis
user = your_username
